.right {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}
.left{
  float: left;
}
.center{
  margin: 0 auto;
}

.rightAlign{
  text-align: right;
}

div {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
